.loading-spinner {
  @include flex-center;
  
  .spinner {
    border: 2px solid $bg-secondary;
    border-top: 2px solid $primary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  &.spinner-small .spinner {
    width: 16px;
    height: 16px;
    border-width: 1px;
  }
  
  &.spinner-medium .spinner {
    width: 24px;
    height: 24px;
    border-width: 2px;
  }
  
  &.spinner-large .spinner {
    width: 32px;
    height: 32px;
    border-width: 3px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
